.hero__main{
    width: auto;
    height: 300px;
    order: 0;
}
.hero{
    background-image: url('../assets/images/Hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100svh;
    width: auto;
    display: flex;
    order: 3;
}
.hero__text-container{
    display: flex;
    flex-direction: column;
}